
canvas {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
}
body{
  
  background: black;


}
canvas{
  display: block;
  z-index: 1;
}
*{
  margin:0;  padding: 0;
  }
#snake::after{
  content: ' ';
  clear: both;
  display: block;
  line-height: 0;
  font-size:0;
}
#snake{
 width: 600px;
  height: 600px;
  margin:0 auto;
  background:rgba(255,255,255,0.2);
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow:  0 0 20px rgba(0,0,0,0.8);
  position: relative;
  z-index: 20;
}
#snake .block{
 height: 29px;
  width: 29px;
  background: rgba(0,0,0,0.5);
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
}
@media (max-width:640px) {
  #snake{
    width: 320px;
    height: 320px;
  }
  #snake .block{
    width: 16px;
    height: 16px;
    float: left;
  }
}
.block{
  height: 29px;
  width: 29px;
  background: rgba(0,0,0,0.5);
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  z-index: 20;
}
.starts,.gameover{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background: #333;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -25px;
  line-height: 50px;
  font-size: 20px;
  font-family: "微软雅黑";
  cursor: pointer;
  z-index: 20;
}
.stop{
  width: 100px;
  height:30px;
  border-radius: 30px;
  background: yellowgreen;
  text-align: center;
  line-height:30px;
  cursor: pointer;
  font-family: "微软雅黑";
  font-size: 20px;
  position: absolute;
  left: 50%;margin-left: -50px;
  bottom: 0px;
  display: none;
  z-index: 20;
}
.gameover{
  display: none;
}

#snake .snake{
  background: red;
}

#snake .food{
  background: green;
}
